/* Colors
#1F78D1 - AA - 4.50 */

*:focus {
  outline: none;
  box-shadow: 0 0 0 3px #1C1C1C,0 0 0 4px #EAFCFF !important;
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Dyslexie";
  src: url(https://corinneling.github.io/a11y-control-panel/styles/OpenDyslexic-Regular.otf) format("opentype");
}