
/* Page Styling */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sanchez');

body {
	background-color: #8E9AAF;
  color: #FEEAFA;
}

#main {
	height: 100%;
  width: 80%;
	padding: 5em 0;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 46px;
  font-family: 'Sanchez', serif;
  font-weight: 400;
	margin: 0.4em;
}

h4 {
	font-size: 28px;
  font-family: 'Sanchez', serif;
  font-weight: 300;
	margin: 0.4em;
}

span {
  color: rgb(44, 148, 255);
}

p  {
	font-size: 18px;
	margin: 0.8em;
}
