/* Page Styling */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,900');

body {
  background-color: #e6e5de;
  color: #555;
}

h1 {
  color: rgb(75, 143, 214);
  font-size: 4em;
  font-weight: 900;
  /* margin: 0.4em 0; */
}

h4 {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0.4em 0;
}

p {
  font-size: 1em;
  margin: 0.8em 0;
}


span {
  font-style: italic;
}

#main {
  height: 100%;
  width: 80%;
  /* padding: 1em 0; */
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.title {
  margin: 5em auto 2em;
}

hr {
  border: 2px solid;
  background: #444;
  margin: 2em 0;
  width: 6em;
}

.drag-icon {
  height: 1em;
  width: 1em;
  fill: #fff;
  margin: 0em 0em 0 0.5em;
  top: 0.1em;
  position: relative;
}

.link-container {
  margin: 2em 0em;
}

.bookmarklet-link {
  background-color: rgb(75, 143, 214);
  color: #fff;
  font-size: 1.2em;
  padding: 0.4em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  margin-bottom: 1em;
}

.bookmarklet-link:hover {
  background-color: rgba(75, 143, 214, 0.8);
}

.instructions {
  font-weight: 900;
  font-size: 2em;
  margin: 1.5em 0;
}
