/* Page Styling */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');
/*
  
  Color contrast tool:
  http://jxnblk.com/colorable/ 
  I used the tool to compare the variables colors with a white background

*/

:root {
  --light: #1F78D1;
  /* AA - 4.50 with #fff background */
  --dark: #1E4E6B;
  /* AAA - 8.91 with #fff background */
  --grey: #444;
  /* AAA - 9.74 with #fff background */
  --light-grey: #ccc;
  /* AA - 6.06 with #444 background */
  --white: #fff;
  --half: 0.5em;
  --shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--white);
  color: var(--grey);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1,
h2 {
  font-weight: 700;
  letter-spacing: calc(var(--half)/10);
  margin: var(--half) 0;
}

h1 {
  font-size: calc(var(--half) * 6);
}

h2 {
  font-size: calc(var(--half) * 3);
}

p,
.use li {
  font-size: calc(var(--half) * 2);
  line-height: calc(var(--half) * 4);
}

#main {
  padding-bottom: 2em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-gap: calc(var(--half) * 4);
  margin: 2em auto;
  width: 80%;
  height: 100%;
}

section {
  padding: calc(var(--half) * 5);
}

.title {
  grid-column: span 2;
  background-color: var(--light);
  text-align: center;
}

.about,
.use {
  grid-column: span 1;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.contact {
  grid-column: span 2;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.footer {
  background-color: var(--grey);
  color: var(--white);
  text-align: center;
  margin: 0 -1em -2em;
  padding: var(--half);
}

.title h1,
.title p {
  color: var(--white);
  margin-bottom: calc(var(--half) * 2);
}

.title p {
  font-size: calc(var(--half) * 2.5);
  letter-spacing: calc(var(--half)/10);
}

.about a,
.contact a {
  color: var(--light);
  font-weight: 700;
}

.about a:hover,
.contact a:hover {
  color: var(--dark);
  font-weight: 700;
}

.use ul {
  margin: 1em -1.5em 2em;
}

.footer p {
  font-size: 0.8em;
  margin: 0;
  color: var(--light-grey);
}

hr {
  background: var(--grey);
  margin: var(--half) 0;
  width: calc(var(--half) * 6);
  height: calc(var(--half)/3);
}

.drag-icon {
  height: 1em;
  width: 1em;
  fill: #fff;
  margin: 0em 0em 0 0.5em;
  top: 0.1em;
  position: relative;
}

.bookmarklet-link {
  color: var(--grey);
  font-size: 1em;
  padding: var(--half) calc(var(--half) * 3);
  font-weight: 800;
  text-decoration: none;
  line-height: 160%;
  text-align: center;
  background-color: var(--white);
  border-radius: 2em;
  border: 4px solid var(--grey);
}

.bookmarklet-link:hover {
  background-color: var(--grey);
  color: var(--white);
}

.alternative {
  position: relative;
  top: 0;
  left: 1em;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  .about,
  .use {
    grid-column: span 2;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
    grid-gap: 0;
  }
  .about,
  .use,
  .contact {
    box-shadow: none;
  }
  .title {
    text-align: left;
  }
  h1 {
    font-size: calc(var(--half) * 4.5);
  }
  .title p {
    font-size: calc(var(--half) * 2);
  }
}