/* Accessibility Controls */

@keyframes drop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Dyslexie";
  src: url(https://corinneling.github.io/a11y-control-panel/styles/Dyslexie_Regular_15369.ttf) format("truetype");
}

.aesthetica11y-receptacle-for-main-aesthetica11y-icon {
  position: fixed;
  cursor: pointer;
  right:2em;
  top: 2em;
}

.main-aesthetica11y-icon {
  fill: #fff;
  background-color: rgb(44, 148, 255);
  height: 42px;
  transition: .2s;
  border-radius: 100px;
  z-index: 99;
}

.aesthetica11y-receptacle-for-main-aesthetica11y-icon svg:hover {
  transform: scale(1.12);
}

/* was .a11y-container */

.aesthetica11y-list-of-icons-for-page-controls {
  width: 50px;
  height: 320px;
  z-index: 2000;
  position: fixed;
  right: 1.25em;
  top: 3em;
}

#accessibility {
  display: none;
}

.aesthetica11y-list-of-icons-for-page-controls ul {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 0.5em;
  font-family: #fff;
  z-index: 99;
}

.aesthetica11y-list-of-icons-for-page-controls li:nth-child(1) {
  top: 4%;
  right: 2.85em;
  animation: drop 0.2s ease-in;
}

.aesthetica11y-list-of-icons-for-page-controls li:nth-child(2) {
  top: 14%;
  right: 2.85em;
  animation: drop 0.4s ease-in-out;
}

.aesthetica11y-list-of-icons-for-page-controls li:nth-child(3) {
  top: 24%;
  right: 2.85em;
  animation: drop 0.6s ease-in;
}

.aesthetica11y-list-of-icons-for-page-controls li:nth-child(4) {
  top: 34%;
  right: 2.85em;
  animation: drop 0.8s ease-in;
}

.aesthetica11y-list-of-icons-for-page-controls li:nth-child(5) {
  top: 44%;
  right: 2.85em;
  animation: drop 1s ease-in;
}

.aesthetica11y-list-of-icons-for-page-controls li:nth-child(6) {
  top: 54%;
  right: 2.85em;
  animation: drop 1.1s ease-in;
}

.aesthetica11y-list-of-icons-for-page-controls li:nth-child(7) {
  top: 64%;
  right: 2.85em;
  animation: drop 1.2s ease-in;
}

.aesthetica11y-list-of-icons-for-page-controls li:nth-child(8) {
  top: 74%;
  right: 2.85em;
  animation: drop 1.3s ease-in;
}

.aesthetica11y-list-of-icons-for-page-controls li:nth-child(9) {
  top: 84%;
  right: 2.85em;
  animation: drop 1.4s ease-in;
}

.aesthetica11y-list-of-icons-for-page-controls ul li {
  margin: 0 4px;
}

.aesthetica11y-list-of-icons-for-page-controls li {
  position: absolute;
  cursor: pointer;
  height: 0.3em;
  width: 0.3em;
  z-index: 99;
}

.aesthetica11y-list-of-icons-for-page-controls {
  list-style: none;
}

.aesthetica11y-list-of-icons-for-page-controls a svg {
  background-color: #fff;
  padding: 0.4em;
  transition: .5s;
  fill: rgb(44, 148, 255);
  height: 18px;
  width: 18px;
  overflow: auto;
  transform-origin: 0;
  box-sizing: initial;
}

.aesthetica11y-list-of-icons-for-page-controls a svg:hover {
  fill: #fff;
  cursor: default;
  background-color: rgb(44, 148, 255);
}

a[data-tooltip] {
  position: fixed;
  z-index: 2000;
}

a[data-tooltip]::before, a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}

a[data-tooltip]::before {
  content: attr(data-tooltip);
  background: #000;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1em;
  padding: 0.4em 0.8em;
  white-space: nowrap;
  border-radius: 0.2em;
  margin-top: 9px;
  text-decoration: none;
}

a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
  margin-top: -20px;
}

a[data-tooltip]:hover::before, a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/

/* left tooltip */

a[aria-label][data-placement="left"]::before {
  top: -0.64em;
  right: 100%;
  margin-right: 10px;
}

a[data-tooltip][data-placement="left"]::after {
  border-left-color: #000;
  border-right: none;
  top: calc( 50% - 3px);
  right: 100%;
  margin-top: -6px;
  margin-right: 4px;
}

a[data-tooltip][data-placement="top"]::before {
  top: -0.35em;
  right: 100%;
  margin-right: 10px;
}

a[data-tooltip][data-placement="top"]::after {
  border-left-color: #000;
  border-right: none;
  top: 50%;
  right: 100%;
  margin-top: -9px;
  margin-right: 4px;
}

/* tooltips */
